*{
    font-family:Century Gothic;
    padding: 0;
    margin: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    height: 100vh;
    background-position: center;
    background-size: cover;
}
ul{
    float: right;
    list-style-type:none;
    margin-top:25px;
}
ul li{
	display:inline-block;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
ul li a{
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 5px solid transparent;
transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
.logo img{
width: 150px;
height: auto;
float: left;
}
.main {
	max-width:1200px;
	margin:auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
	color:#fff;
	font-size:70px;
}
.button{
	position:absolute;
	top:70%;
	left:50%;
	transform: translate(-50%,-50%);
}
.btn{
	text-decoration:none;
	color:#fff;
	border:1px solid #fff;
	padding:10px 30px;
	transition:0.6s ease;
}
.btn:hover{
    color: #000;
    background-color: #fff;
}
